/* Footer style */

footer {
    background:#00FF00;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    /*lef: 235px;*/
}

footer p {
    line-height: 30px;
    /*background-color: red;*/
    text-align:center;
}
