/* Styles for places section */
.places {
    /* flex box */
    display: flex;
    justify-content: center;/* center items */
    flex-wrap: wrap;
    /*background: silver;*/
}
.places h1 {
    width: 100%;
    margin-left: 1%;
    font-size: 30px;
}

.places h2 {
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    /* flex box */
    display: flex;
    justify-content: center; /* Center text */
    align-items: flex-start;
    /*align-items: baseline;*/
    /*background: silver;*/
}

article .price_by_night {
    /*background: purple;*/
    color: #FF5A5F;
    border: 3px solid #FF5A5F; /* Pendiente */
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    
    /* flex box */
    display: flex;
    align-items: center;
    justify-content: center;
}
